* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(165deg, rgb(93, 174, 206), rgb(163, 155, 155));
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.main {
    background: rgb(255, 254, 254);
    border-radius: 10px;
    padding: 20px 30px;
    max-height: 800px;
}

.saver {
    border: 1px solid blue;
    padding: 30px 20px;
}

h1 {
    font-size: 3rem;
    color: cornflowerblue;
    text-shadow: 1px 2px 2px black;
    padding: 5px 10px;
    margin: 10px 20px;
}

.inputs {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
    gap: 20px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

input:hover {
    border: 2px solid rgb(145, 145, 240);
}

#save{
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    background-color:#0077CC;
    padding:5px;
    cursor: pointer;
    border-radius: 5px;
}

#save:hover{
    background-color: #005FA3;
}

.saveList{
    margin: 20px 15px;
    display: flex;
    justify-content:space-around;
    gap:20px;
    align-items: center;
    flex-wrap: wrap;
}

.list{
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid;
    padding: 15px;
}
.remove{
    text-transform: capitalize;
    padding:5px 6px;
    Background: #FFFFFF;
    color: #600303;
    Border: 2px solid #bc0505;
}
.remove:hover{
    background:#d62303;
}