* {
        font-family: 'Noto Sans', 'sans-serif';
    }

    :root {
        --text-color: purple;
    }

    h1,
    li {
        color: var(--text-color);
    }

    li:hover {
        text-decoration: underline;
        cursor: pointer;
        font-size: large;
    }

    .section h3 {
        font-weight: 700;
        font-size: larger;
        text-align: center;
        color: black;
    }

    .section p {
        color: gray;
        font-weight: 500;
        text-align: center;
        padding: 1px 4px 16px;
    }

    .section {
        box-sizing: border-box;
        box-shadow: 0px 1px 0px 0px rgba(184, 182, 182, 0.8);
        border-radius: 15px;
    }

    footer {
        background-color: #6b46c1;
        color: #fff;
        padding: 2rem;
        text-align: center;
    }

    .product-item img {
        height: 200px;
        width: 100%;
    }

    .product-item p {
        color: #718096;
        font-size: 0.875rem;
    }

    .product-item div p {
        font-weight: bolder;
        text-align: left;
        margin-bottom: 0rem;
        color: #4F6F52;
    }

    .product-item img {
        object-fit: contain;
        margin-bottom: 1rem;
    }

    .product-item:hover {
        transform: translateY(-0.5rem);
    }

    .product-item {
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        text-align: center;
        transition: transform 0.3s ease;
    }

    .featured-products {
        padding: 4rem 2rem;
    }

    .btn-primary {
        background-color: #6b46c1;
        border-color: #6b46c1;
        font-weight: 600;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        padding: 8px;
    }

    .btn-primary:hover {
        background-color: #805ad5;
        border-color: #805ad5;
    }
